.modal-container {
    width: 100px;
    height: 20%;
    position: relative;
    z-index: 300;
}
.modal-list-items {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.modal-list-item {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.modal-list-items > hr {
    margin: 0;
    padding: 0;
}
