.RestCardDetail {
    width: 100%;
    height: 100%;
}
.RestImg {
    height: 5.5rem;
    max-height: 20%;
    width: 100%;
}

.RestImg > img {
    width: inherit;
    height: inherit;
    object-fit: fill;
}

.RestdescWrapper {
    padding-right: 5px;
    padding-left: 5px;
    font-family: UberMoveText, sans-serif;

}
.Restdesc {
    height: 2rem;
    width: 100%;
    padding: 0 1.5% 1.5%;
    height: 8%;
    margin-top: 0.5rem;
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
}

.dishcardWrapper {
    height: calc(100% - 32%);
}
.dishcards {
    display: grid;
    grid-template-rows: repeat(3, 10.4rem);
    grid-template-columns: repeat(3, 28rem);
    grid-gap: 1rem;
}
