.dashboardContent {
    display: grid;
    grid-template-columns: max-content 75%;
    height: 100%;
    .leftContent {
        grid-column: 1;
        // margin-left: 1%;
        border-right: solid gray;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        height: 140px;
        align-items: center;
        .mode {
            display: flex;
            label {
                border-radius: 50px;
                background: #f0f0f0;
                margin: 7px;
                padding: 7px;
                cursor: pointer;
            }
            .location,
            .search {
                input {
                    width: 90%;
                }
            }
        }
        .category {
            display: flex;
            label {
                border-radius: 50px;
                background: #f0f0f0;
                margin: 7px;
                padding: 7px;
                cursor: pointer;
            }
        }
    }

    .rightContent {
        grid-column: 2;
    }
}
