.header-container {
    display: grid;
    grid-template-columns: 2% 80% 10% 5% 5%;
    align-items: center;
    height: 96px;
    justify-content: space-between;

    .uber-logo {
        grid-column: 2;
        content: url('../../../assets/Uber_Eats.svg');
        object-fit: scale-down;
    }
    .toggle-switch {
        height: 2rem;
    }
    .location {
        height: 2rem;
        input {
            height: inherit;
            background-color: lightgray;
            border: 0;
        }
    }
    .search {
        height: 2rem;
        input {
            height: inherit;
            background-color: lightgray;
            border: 0;
        }
    }
    .cart {
        position: relative;
        button {
            width: 4rem;
            height: 2rem;
            display: flex;
            background-color: black;
            border-radius: 500px;
            border: 0;
            .cartIcon {
                color: white;
                border-radius: 500px;
                align-self: center;
            }
            input {
                width: 50%;
                background-color: transparent;
                color: white;
                align-self: center;
                text-align-last: right;
            }
        }
    }
    .cartModal {
        width: 200px;
        height: 200px;
        top: 116px;
        right: 200px;
        position: absolute;
        z-index: 300;
        background: black;
        color: white;
        border-radius: 0;
        background: #4d4c4c;
        box-shadow: 29px 29px 58px #222121, -29px -29px 58px #787777;
        .cross {
            cursor: pointer;
        }
    }

    .user-logo {
        content: url('../../../assets/profile.png');
        width: 30px;
        position: relative;
        grid-column: 4;
    }
    .modal-wrapper {
        border: solid 1px;
        position: absolute;
        right: 1%;
        top: 14%;
        background-color: #f0f0f0;
    }
}
