.Cart > .restName {
    margin: 2vw;
    font-weight: 900;
}
.Cart > .orders {
    border: solid;
    width: 58vw;
    margin: 2vw;
}
.Cart > .orders > .ordersRow {
    text-align: left;
}

.Cart > .addr {
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: max-content;
}
