.login-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    grid-template-rows: auto max-content auto;
    font-family: Roboto;
    .login-wrapper {
        grid-column: 2;
        grid-row: 2;
        .logo {
            content: url('../../../src/assets/Uber_Eats.svg');
        }

        input {
            font-size: 16px;
            height: 48px;
            line-height: 24px;
            color: #262626;
            border: 1px solid #e0e0e0;
        }
        input,
        button {
            display: block;
            width: 70%;
            margin-bottom: 24px;
            height: 48px;

            //rgb(224, 224, 224);
        }
        button {
            color: white;
            background-color: rgb(224, 224, 224);
            border: 0;
        }

        .alert {
            width: 70%;
        }
    }
}
