.rest-card-container {
    width: 157.5px;
    height: 180px;
    // border: 1px black solid;
    display: inline-block;
    margin: 1.5%;
    border-radius: 27px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 6px 6px 12px #ebebeb, -6px -6px 12px #ffffff;
    .image-container {
        object-fit: contain;
        width: -webkit-fill-available;
        height: 128px;
        img {
            height: inherit;
            width: inherit;
        }
        // content: url('./../../assets/restaurant.png');
    }
    .rest-name-container {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 9% 4% 2%;
        &--title {
            text-overflow: ellipsis;
            margin: 0px;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
